/*=================fonts=================*/
.font-play-bold {
    font-family: 'Play-Bold';
}
.font-roboto-black {
    font-family: 'Roboto-Black';
}
.font-roboto-bold {
    font-family: 'Roboto-Bold';
}
.font-roboto-light {
    font-family: 'Roboto-Light';
}
.font-roboto-medium {
    font-family: 'Roboto-Medium';
}
.font-roboto-regular {
    font-family: 'Roboto-Regular';
}
.font-UniSansHeavyCAPS {
    font-family: 'UniSansHeavyCAPS';
}
* {
    margin: 0;
    padding: 0;
}
._container {
        max-width: 1180px;
        padding: 0 20px;  
    }
.header {
        background: url('../img/header-nav.jpg') top no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-around;       
    }
.top-header__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
               
            
}

