/*=================fonts=================*/
.font-play-bold {
    font-family: 'Play-Bold';
}
.font-roboto-black {
    font-family: 'Roboto-Black';
}
.font-roboto-bold {
    font-family: 'Roboto-Bold';
}
.font-roboto-light {
    font-family: 'Roboto-Light';
}
.font-roboto-medium {
    font-family: 'Roboto-Medium';
}
.font-roboto-regular {
    font-family: 'Roboto-Regular';
}
.font-UniSansHeavyCAPS {
    font-family: 'UniSansHeavyCAPS';
}
* {
    margin: 0;
    padding: 0;
}
._container {
        max-width: 1180px;
        padding: 0 20px;  
    }
.header {
        background: url('../img/header-nav.jpg') top no-repeat;
        .top-header {
            &__content {
                display: flex;
                align-items: center;      
            }
            &__column {
                flex: 0 1 50%;
            &_logo {
                align-self: flex-start;
                padding-top: 25px;
                flex: 0 0 190px;
                text-align: center;
            }
            .menu {
                &__list {
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        flex: 0 1 33.333%;
                        list-style: none;
                        
                    }
                }
                &__link {
                    font-family: 'Play-Bold';
                    font-size: 14px;
                    height: 27px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                }
            }
            } 
            
        }
    }


