@import '../css/mixins.scss';
* {
    margin: 0;
    padding: 0;
    text-decoration-skip-ink: none;
}
._container {
        max-width: 1180px;
        padding: 0 20px;
        margin: auto;
    }
.rub::after {
    content: "P";
    line-height: 5px;
	width: 0.4em;
	border-bottom: 1px solid #000; 
	display: inline-block;
}
.header {
        background: #ffffff url('../img/header-nav.jpg') top no-repeat;
        // position: fixed;
        // top: 0;
        // left: 0;
        // width: 100%;
        // z-index: 50;
        .top-header {
            &__content {
                display: flex;
                align-items: center; 
                height: 90px;     
            }
            &__logo {
                position: relative;
                z-index: 5;
                display: inline-block;
            }
            &__column {
                flex: 0 1 50%;
                &_logo {
                    flex: 0 0 190px;
                    text-align: center;
                    padding-top: 25px;
                }
            .menu {
                &__list {
                    display: grid;
                    grid-template-columns: 110px 130px 180px;
                    li {
                        list-style: none;
                        margin: 1px 0;
                    }
                }
                &__link {
                    @include font-play-bold;
                    white-space: nowrap;
                    font-size: 14px;
                    min-height: 27px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    padding: 2px 22px;
                }
            }
            .icon-menu {
                display: none;
            }
            .contacts-header {
                display: flex;
                justify-content: center;
                position: relative;
                z-index: 5;
                &__column {
                    padding: 0 30px;
                    border-right: 1px solid #ffffff;
                    &:last-child {
                        border: none;
                    }
                }
                &__item {
                    &_icon {
                        background: url('../img/icons/phone.png') left no-repeat;
                        padding: 0px 0px 0px 37px;
                    }
                }
                &__label {
                    @include font-roboto-light;
                    color: #ffffff;
                    font-size: 12px;
                    margin-bottom: 5px;
                }
                &__phone {
                   @include font-roboto-black;
                    color: #ffffff;
                    font-size: 18px;
                    text-decoration: none;
                    white-space: nowrap;
                }
            }
            } 
            
        }
        .bottom-header {
            &__content {
                display: flex;
                height: 63px;
                align-items: center;
                justify-content: space-between;
                padding-left: 35px;
            }
            &__column {
                flex: 0 1 calc(50% - 95px);
            }
            .actions-header {
                display: flex;
                align-items: center;
                li {
                    @include font-roboto-light;
                    
                    list-style: none;
                    margin: 0px 54px 0px 0px;
                    &:last-child {
                        margin: 0px;
                    }
                }
                &__item {
                    padding-left: 36px;
                    display: inline-block;
                    line-height: 24px;
                    text-decoration: none;
                    color: #999999;
                    
                    span {
                        font-size: 14px;
                        border-bottom: 2px dotted #999999;
                        &:hover {
                        color: #1ab9ce;
                        border-bottom: 2px dotted #1ab9ce;
                        
                    }
                }
                &_login {
                    background: url('../img/icons/login.png') left no-repeat;
                }
                &_reg {
                    background: url('../img/icons/registration.png') left no-repeat;
                }
                &_email {
                    background: url('../img/icons/mail.png') left no-repeat;
                    span {
                        border-bottom: 1px solid;
                        &:hover {
                            border-bottom: 1px solid;
                        }
                    }
                    }
                }
            }
        .info-header {
            display: flex;
            justify-content: center;
            align-items: center;
            &__column {
                @include font-roboto-light;
                padding: 0px 35px 0px 0px;
            }
            span {
                font-size: 14px;
            }
            &__callback {
                padding-left: 36px;
                background: url('../img/icons/callback.png') left no-repeat;
                display: inline-block;
                color: #1ab9ce;
                text-decoration: none;
                white-space: nowrap;
                span {
                    border-bottom: 2px dotted #1ab9ce;
                }
            }
            &__schedule {
                padding-left: 36px;
                color: #999999;
                background: url('../img/icons/schedule.png') left no-repeat;
                line-height: 18px;
                span {
                   @include font-roboto-black;
                }
                p {
                    font-size: 14px;
                }
            }
            &__cart {
                width: 43px;
                height: 43px;
                display: inline-block;
                background: url('../img/icons/cart-blue.png') 0 0 no-repeat;
                position: relative;
                span {
                    padding: 0 11px;
                    border-radius: 20px;
                    line-height: 25px;
                    background: #f68038;
                    position: absolute;
                    right: 0;
                    transform: translate(60%, 0px);
                    color: #ffffff;
                    font-size: 18px;
                    @include font-roboto-bold;
                }
            }
        }
    }
}

.page {
    flex: 1 1 auto;
    &__container {
        display: flex;
    }
    &__side {
        flex: 0 0 260px;
    }
    &__content {
        flex: 1 1 auto;
        padding: 0px 0px 0px 30px;
    }
}
.menu-page {
    position: relative;
    
    &__header {
        padding: 20px;
        display: flex;
        align-items: center;
    }
    &__body {
    }
    &__title {
        @include font-UniSansHeavyCAPS;
        color: #ffffff;
        font-size: 30px;
    }
    &__burger {
        flex: 0 0 30px;
        height: 18px;
        background: #068292;
        position: relative;
        cursor: pointer;
        z-index: 5;
        padding: 10px 6px;
        
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background: #ffffff;
            &:first-child {
                top: 0px;
            }
            &:last-child {
                top: auto;
                bottom: 0px;
            }
        }
        &._active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    top: calc(50% - 1px);
                }
            }
        }
    }
    &__lines {
        height: 16px;
        position: relative;
    }
    &__content {
        background: url('../img/aside-nav.jpg') top no-repeat;
        position: relative;
        z-index: 2;
    }
    &__list{
        li {
            list-style: none;
            border-bottom: 1px solid #1aa7b9;
        }
    }
    &__link {
        @include font-roboto-light;
        color: #ffffff;
        font-size: 12px;
        text-decoration: none;
        display: block;
        padding: 12px 20px;
        position: relative;
        &_parent {
            &::after {
                content:"";     
                position: absolute;
                top: 50%;
                right: 10px;
                width: 14px;
                height: 14px;
                transform: translate(0px, -50%);
                background: url("../img/icons/arrow-nav.png");
            }
        }
    }
    &__submenu {
       
    }
}
.submenu-page {
    width: 100%;
    position: absolute;
    top:0;
    height: 100%;
    left: 0;
    &__menu {
        border-bottom: 1px solid #dedede;
        padding: 20px 0;
        li {
            list-style: none;
        }
    }
    &__link {
        @include font-roboto-light;
        font-size: 12px;
        text-decoration: none;
        color: #1ab9ce;
        padding: 10px 40px;
        display: block;
        
    }
    &__product {
        padding: 0 15px;
    }
    &__item {
        border: 2px solid #098494;
        background: #ffffff;
        position: absolute;
        width: 280px;
        height: 100%;
        top:0;
        left: 100%;
        &._active {
            left: 100%;
        }
    }
}
.item-product {
    padding: 15px 0;
    position: relative;
    &__body {
        padding: 0 10px;
    }
    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__labels {
        position: absolute;
        left: 15px;
        top: 15px;
    }
    &__label {
        margin: 0px 0px 5px 0px;
        @include font-roboto-black;
        font-size: 14px;
        color: #ffffff;
        background: #fd8424;
        text-transform: uppercase;
        padding: 0px 15px;
        height: 21px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image {
        height: 195px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        img {
            max-width: 100%;
            max-height: 175px;
        }
    }
    &__title {
        @include font-roboto-light;
        font-size: 16px;
        color: #36949f;
        text-decoration: none;
        display: inline-block;
        margin: 0px 0px 10px 0px;
    }
    &__old-price {
        flex: 1 1 100%;
        @include font-roboto-light;
        font-size: 18px;
        color: #999999;
        text-decoration: line-through;
        text-align: right;
        &::after {
            font-size: 14px;
        }
    }
    &__add {
        width: 40px;
        height: 40px;
        background: url('../img/icons/cart-grey.png') 0 0 no-repeat;
    }
    &__price {
        @include font-roboto-black;
        font-size: 24px;
        color: #333333;
        &::after {
            font-size: 20px;
        }
    }
}

