
@media (max-width: 1180px) {
    .header {
        .top-header {
            &__column {
                .menu {
                    &__list {
                        grid-template-columns: 90px 110px 160px;
                    }
                    &__link {
                         padding: 2px 0px 2px 20px;
                    }
                   
                }
            }
            .contacts-header {
                &__phone {
                    font-size: 16px;
                }
                &__column {
                    padding: 0px 15px;
                    .contacts-header__item {
                        &_icon{
                            padding: 0px 0px 0px 25px;
                            background-size: 15px;
                        }
                    }
                }
            }
        }
         .bottom-header {
            .actions-header {
                li {
                    margin: 0px 30 / 1180 * 100vw 0px 0px;
                }
                &__item {
                    padding-left: 30px;
                }
            }
            .info-header {
                &__column {
                    padding: 0px 30 / 1180 * 100vw 0px 0px;
                }
                &__callback{
                    background: none;
                    padding-left: 0;
                }
                &__schedule {
                    background: none;
                    padding-left: 0;
                }
            }
        }
        
    }
}

@media (max-width: 992px) {
    .header {
        .top-header {
            &__column {
                .icon-menu {
                    display: block;
                    position: relative;
                    width: 30px;
                    height: 18px;
                    cursor: pointer;
                    z-index: 5;
                    span {
                        transition: all 0.3s ease 0s;
                        top: calc(50% - 1px);
                        left: 0px;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #ffffff;
                        &:first-child {
                            top: 0px;
                        }
                        &:last-child {
                            top: auto;
                            bottom: 0px;
                        }
                    }
                        &._active {
                            span {
                                transform: scale(0);
                                &:first-child {
                                    transform: rotate(-45deg);
                                    top: calc(50% - 1px);
                                }
                                &:last-child {
                                    transform: rotate(45deg);
                                    top: calc(50% - 1px);
                                }
                            }
                        }
                }
                .menu__body {
                    position: fixed;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    overflow: auto;
                    display: none;
                }
                .contacts-header {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &__phone {
                        font-size: 12px;
                    }
                    &__column {
                        border: none;
                        padding: 0px 15px;
                        width: 125px; 
                        .contacts-header__item {          
                            &_icon{
                                border-bottom: 2px solid #ffffff;
                                padding: 0px;
                                background: none; 
                            }   
                        }
                    }
                    &__label {
                        margin: 0;
                    }
                }
            }
        }
        .bottom-header {
            .actions-header {
                &__item {
                    padding: 0;
                    background: none;
                }
            }
            .info-header {
                &__schedule {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 790px) {
    .header {
        background: url('../img/header-nav.jpg') 0 0 no-repeat;
        .top-header {
            &__column {
                &_logo {
                    flex: 0 0 100px;
                    width: 100%;
                    padding-top: 25px;
                    img {
                        max-width: 100%;
                    }
                }
                .contacts-header {
                    align-items: flex-end;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .header {
        background: url('../img/header-nav.jpg') 0 -20px no-repeat;
        .top-header {
            &__content{
                height: 70px;
            }
            &__column {
                &_logo {
                    padding-top: 15px;
                }
                .contacts-header {
                    &__column {
                        width: auto;
                        padding: 0;
                        &:last-child {
                            display:none;
                        }
                        .contacts-header__item {
                            &_icon {
                                border: none;
                                background: none;
                            }
                        } 
                    }
                    &__phone {
                        font-size: 0;
                        background: url('../img/icons/phone.png') left no-repeat;
                        width: 19px;
                        height: 25px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    &__label {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .header {
        .top-header {
            &__column {
                .menu {
                    &__link:hover {
                        background: #068292;
                        transition: all 0.3s ease 0s;
                        border-radius: 20px;
                    }
                }
                
            }
        }
    }
}

       
   
