@import '../css/mixins.scss';

@media (max-width: 1180px) {
    .header {
        .top-header {
            &__column {
                .menu {
                    &__list {
                        grid-template-columns: 90px 110px 160px;
                    }
                    &__link {
                         padding: 2px 15px 2px 15px;
                    }
                   
                }
            }
            .contacts-header {
                &__phone {
                    font-size: 16px;
                }
                &__column {
                    padding: 0px 15px;
                    .contacts-header__item {
                        &_icon{
                            padding: 0px 0px 0px 25px;
                            background-size: 15px;
                        }
                    }
                }
            }
        }
         .bottom-header {
            .actions-header {
                li {
                    margin: 0px 30 / 1180 * 100vw 0px 0px;
                }
                &__item {
                    padding-left: 30px;
                }
            }
            .info-header {
                &__column {
                    padding: 0px 30 / 1180 * 100vw 0px 0px;
                }
                &__callback{
                    background: none;
                    padding-left: 0;
                }
                &__schedule {
                    background: none;
                    padding-left: 0;
                }
            }
        }
        
    }
}

@media (max-width: 992px) {
    .header {
        .top-header {
            &__column {
                .icon-menu {
                    display: block;
                    position: relative;
                    width: 30px;
                    height: 18px;
                    cursor: pointer;
                    z-index: 5;
                    span {
                        transition: all 0.3s ease 0s;
                        top: calc(50% - 1px);
                        left: 0px;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #ffffff;
                        &:first-child {
                            top: 0px;
                        }
                        &:last-child {
                            top: auto;
                            bottom: 0px;
                        }
                    }
                        &._active {
                            span {
                                transform: scale(0);
                                &:first-child {
                                    transform: rotate(-45deg);
                                    top: calc(50% - 1px);
                                }
                                &:last-child {
                                    transform: rotate(45deg);
                                    top: calc(50% - 1px);
                                }
                            }
                        }
                }
                .menu {
                    &__body {
                    opacity: 0;
                    position: fixed;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    visibility: hidden;
                    left: 0;
                    overflow: auto;
                    z-index: 2;
                    background: #fff;
                    transition: all 0.3s ease 0s;
                    padding: 90px 20px 30px 20px;
                        &::before {
                            content: '';
                            position: fixed;
                            width: 100%;
                            height: 90px;
                            top: 0;
                            left: 0;
                            background: #1ab9ce;
                        }
                        &._active {
                            visibility: visible;
                            opacity: 1;
                        }   
                    }
                    &__list {
                        display: block;
                        li {
                            margin: 0px 0px 20px 0px;
                        }
                    }
                    &__link {
                        padding: 0;
                        font-size: 20px;
                        color: #000000;
                    }
                }
                    
                .contacts-header {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &__phone {
                        font-size: 12px;
                    }
                    &__column {
                        border: none;
                        padding: 0px 15px;
                        width: 125px; 
                        .contacts-header__item {          
                            &_icon{
                                border-bottom: 2px solid #ffffff;
                                padding: 0px;
                                background: none; 
                            }   
                        }
                    }
                    &__label {
                        margin: 0;
                    }
                    
                }
                ._schedule {
                    padding-left: 36px;
                    color: #999999;
                    background: url('../img/icons/schedule.png') left no-repeat;
                    line-height: 18px;
                    span {
                       @include font-roboto-black;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
        .bottom-header {
            .actions-header {
                &__item {
                    padding: 0;
                    background: none;
                }
            }
            .info-header {
                &__schedule {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 790px) {
    .header {
        background: #ffffff url('../img/header-nav.jpg') 0 0 no-repeat;
        .top-header {
            &__logo {
                    width: 100px;
                    img {
                        max-width: 100%;
                    }
                }
            &__column {
                &_logo {
                    align-items: flex-start;
                    flex: 0 0 100px;
                    padding-top: 10px;
                }
                .contacts-header {
                    align-items: flex-end;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .header {
        background: url('../img/header-nav.jpg') 0 -20px no-repeat;
        .top-header {
            &__content{
                height: 70px;
            }
            &__column {
                .menu__body {
                    &::before {
                        height: 70px;
                    }
                }
                &_logo {
                    padding-top: 10px;
                }
                .contacts-header {
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    &__column {
                        width: auto;
                        padding: 0;
                        &:last-child {
                            display:none;
                        }
                        .contacts-header__item {
                            &_icon {
                                border: none;
                                background: none;
                            }
                        } 
                    }
                    &__phone {
                        font-size: 0;
                        background: url('../img/icons/phone.png') left no-repeat;
                        width: 19px;
                        height: 25px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    &__label {
                        display: none;
                    }
                    ._cart {
                        padding: 0px 20px 0 15px;
                        .info-header__cart {
                            span {
                                padding: 2px 3px;
                                border-radius: 100%;
                                font-size: 14px;
                                right: 5px;
                                line-height: normal;
                            }
                        }
                    }
                }
                    .actions-header {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        margin: 0px 5% 20px 0px;
                        li {
                            @include font-roboto-light;
                            
                            list-style: none;
                            margin: 0;
                           
                        }
                        &__item {
                            display: inline-block;
                            line-height: 24px;
                            text-decoration: none;
                            color: #999999;
                            span {
                                font-size: 14px;
                                border-bottom: 2px dotted #999999;
                                &:hover {
                                color: #1ab9ce;
                                border-bottom: 2px dotted #1ab9ce;
                        }
                    }
                    }
                }
                .info-header {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &__column {
                        @include font-roboto-light;
                        padding: 0px 35px 0px 0px;
                    }
                    span {
                        font-size: 14px;
                    }
                    &__callback {
                        
                        padding-left: 36px;
                        background: url('../img/icons/callback.png') left no-repeat;
                        display: inline-block;
                        color: #1ab9ce;
                        text-decoration: none;
                        white-space: nowrap;
                        span {
                            border-bottom: 2px dotted #1ab9ce;
                        }
                    }
                    &__schedule {
                        padding-left: 36px;
                        margin: 10px 0px 20px 0px;
                    }
                    &__cart {
                        width: 43px;
                        height: 43px;
                        display: inline-block;
                        background: url('../img/icons/cart-blue.png') 0 0 no-repeat;
                        position: relative;
                        span {
                            padding: 0 11px;
                            border-radius: 20px;
                            line-height: 25px;
                            background: #f68038;
                            position: absolute;
                            right: 0;
                            transform: translate(60%, 0px);
                            color: #ffffff;
                            font-size: 18px;
                            @include font-roboto-bold;
                        }
                    }
                }
            }
        }   
    }
}
@media (min-width: 992px) {
    .header {
        .top-header {
            &__column {
                &_logo {
                    padding-top: 25px;
                }
                .menu {
                    &__link:hover {
                        background: #068292;
                        transition: all 0.3s ease 0s;
                        border-radius: 20px;
                    }
                }
                
            }
        }
    }
    .page {
        .menu-page {
            &__link {
                &:hover {
                    background: #098494;
                }
            }
        }
        .submenu-page {
            &__link {
                &:hover {
                    background: #71c7d3;
                    color: #ffffff;
                }
            }
        }
        .item-product {
            &__title {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .btn {
        &:hover {
            background: #b14f12;
        }
    }
}

    

       
   
