/*=================fonts=================*/
@mixin font-play-bold {
    font-family: 'Play-Bold';
}
@mixin font-roboto-black {
    font-family: 'Roboto-Black';
}
@mixin font-roboto-bold {
    font-family: 'Roboto-Bold';
}
@mixin font-roboto-light {
    font-family: 'Roboto-Light';
}
@mixin font-roboto-medium {
    font-family: 'Roboto-Medium';
}
@mixin font-roboto-regular {
    font-family: 'Roboto-Regular';
}
@mixin font-UniSansHeavyCAPS {
    font-family: 'UniSansHeavyCAPS';
}

